.lead {
  padding: 26px calc((100% - 1224px) / 2) 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  gap: 62px;
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
  z-index: 5;
}

.lead::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../../images/main/background.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  mix-blend-mode: color-burn;
  z-index: 6;
}

.lead__background-ellipse {
  position: absolute;
  width: 660px;
  height: 616px;
  top: 0;
  left: 951px;
  background-image: url("../../images/main/ellipse.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  z-index: 1;
}

.lead__background-ellipse-text {
  position: absolute;
  width: 660px;
  height: 676px;
  top: 0;
  left: 951px;
  background-image: url("../../images/main/ellipse-text.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 2;
  mix-blend-mode: overlay;
}

.lead__background-king {
  position: absolute;
  width: 110px;
  height: 260px;
  top: 270px;
  left: 1020px;
  background-image: url("../../images/main/king.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}

.lead__background-queen {
  position: absolute;
  width: 120px;
  height: 260px;
  top: 165px;
  left: 1355px;
  background-image: url("../../images/main/queen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}

.lead__background-city {
  position: absolute;
  width: 1624px;
  height: 453px;
  top: 270px;
  left: 161px;
  background-image: url("../../images/main/city.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 4;
}

.lead__background-border {
  position: absolute;
  width: 1604px;
  height: 463px;
  top: 259px;
  left: 158px;
  background-image: url("../../images/main/border.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
}

.lead__background-pawn {
  position: absolute;
  width: 83px;
  height: 123px;
  top: 558px;
  left: 1516px;
  background-image: url("../../images/main/pawn.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 8;
}

.lead__background-horse {
  position: absolute;
  width: 200px;
  height: 290px;
  top: 480px;
  left: 1115px;
  background-image: url("../../images/main/horse.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 8;
}

.lead__logo {
  width: 245px;
  height: 36px;
  background-image: url("../../images/logo.svg");
  background-size: contain;
  z-index: 9;
}

.lead__description {
  z-index: 9;
}

@media screen and (width <= 1500px) {
  .lead {
    padding: 26px 72px 0;
  }

  .lead__background-ellipse {
    left: unset;
    right: 33px;
  }

  .lead__background-ellipse-text {
    left: unset;
    right: 33px;
  }

  .lead__background-queen {
    left: unset;
    right: 170px;
  }

  .lead__background-king {
    left: unset;
    right: 515px;
  }

  .lead__background-city {
    left: unset;
    right: -145px;
  }

  .lead__background-border {
    left: unset;
    right: -120px;
  }

  .lead__background-pawn {
    left: unset;
    right: 45px;
  }

  .lead__background-horse {
    left: unset;
    right: 330px;
  }
}

@media screen and (width <= 1100px) {
  .lead {
    padding: 18px 20px 0;
    min-height: 774px;
    gap: 40px;
  }

  .lead__background-ellipse {
    width: 295px;
    height: 290px;
    top: 419px;
    right: 50px;
  }

  .lead__background-ellipse-text {
    width: 300px;
    height: 305px;
    top: 419px;
    right: 47px;
  }

  .lead__background-queen {
    width: 47px;
    height: 105px;
    top: 500px;
    right: 90px;
    transform: rotate(7deg);
  }

  .lead__background-king {
    width: 48px;
    height: 117px;
    right: 258px;
    top: 543px;
  }

  .lead__background-city {
    width: 885px;
    height: 246px;
    right: -109px;
    top: 538px;
  }

  .lead__background-border {
    width: 874px;
    height: 252px;
    right: -97px;
    top: 532px;
  }

  .lead__background-pawn {
    left: unset;
    right: 45px;
    display: none;
  }

  .lead__background-horse {
    width: 101px;
    height: 140px;
    right: 128px;
    top: 661px;
  }

  .lead__logo {
    width: 213px;
    height: 32px;
  }

  .lead__br {
    display: none;
  }
}

