.table {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

.table__row {
  display: grid;
  grid-template-columns: 43.5% 56.5%;
  border-bottom: 2px solid var(--seventh-color);
}

.table__row:last-child {
  border-bottom: unset;
}

.table__row_mob {
  display: none;
}

.table__title {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 0;
  text-align: left;
  font: var(--font-main);
  font-weight: var(--font-weight-s);
  color: rgb(49 49 49 / 70%);
  border-right: 2px solid var(--seventh-color);
}

.table__text {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 16px;
  text-align: left;
  font: var(--font-main);
  font-weight: var(--font-weight-m);
  color: var(--primary-color);
}

.table__text_mob {
  display: none;
}

.table__text_crossed {
  margin-right: 15px;
  text-decoration: line-through 2px solid var(--fifth-color);
}

@media screen and (width <= 1100px) {
  .table__row {
    width: 100%;
    padding: 16px 0 14px;
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 12px;
  }

  .table__row_desk {
    display: none;
  }

  .table__row_mob {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  .table__title {
    padding: 0;
    border: none;
  }

  .table__text {
    padding: 0;
  }

  .table__text_desk {
    display: none;
  }

  .table__text_mob {
    display: flex;
  }

  .table__text_crossed {
    margin-right: 8px;
  }
}
