.text-button {
  padding: 10px 20px;
  box-sizing: border-box;
  height: 72px;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font: var(--font-s);
  font-weight: var(--font-weight-m);
  color: var(--tertiary-color);
  border: none;
  outline: none;
  border-radius: 66px;
  cursor: pointer;
  transition: .6s ease;
}

.text-button_inverted {
  background-color: transparent;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.text-button:hover {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
}

.text-button_inverted:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border: none
}

@media screen and (width <= 1100px) {
  .text-button {
    height: 47px;
  }

  .text-button_inverted {
    background-color: var(--tertiary-color);
    border: none;
    color: #1F1F1F;
  }
}
