.stages {
  padding: 38px 72px 96px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.stages__image {
  margin: 0 0 -81px 10px;
  width: 100%;
  height: 200px;
  object-fit: contain;
  display: none;
  transform: rotate(-3deg);
  z-index: 3;
}

.stages__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  transition: .6s ease;
  scroll-behavior: smooth;
}

.stages__item {
  display: flex;
  min-height: 112px;
  box-sizing: border-box;
}

.stages__item_wide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1/3;
  column-gap: 20px;
}

.stages__item_long {
  grid-row: 1/3;
  grid-column: 3/4;
}

.stages__text {
  padding: 20px 21px 20px 20px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  gap: 16px;
  position: relative;
  background-image: url("../../images/stage.png");
  background-size: cover;
  z-index: 2;
  font: var(--font-main);
  color: var(--primary-color);
  font-weight: var(--font-weight-m);
}

.stages__text::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../images/main/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: color-burn;
  z-index: 1;
}

.stages__text::before {
  content: attr(data-number);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  border-radius: 100%;
}

.stages__item_with-img {
  grid-column: 2/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 518px 1fr;
  position: relative;
  background-image: url("../../images/stage.png");
  background-size: cover;
  z-index: 2;
}

.stages__item_with-img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../images/main/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: color-burn;
  z-index: 1;
}

.stages__item_with-img::after {
  content: '';
  width: 400px;
  height: 250px;
  position: absolute;
  top: -100px;
  left: 470px;
  background-image: url("../../images/plane.png");
  background-size: contain;
  background-repeat: no-repeat;
  mix-blend-mode: unset;
  z-index: 3;
}

.stages__buttons {
  margin-top: 13px;
  align-self: center;
}

@media screen and (width <= 1100px) {
  .stages {
    padding: 87px 20px 74px;
    gap: 15px;
  }

  .stages__image {
    display: flex;
  }

  .stages__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    scroll-snap-type: x mandatory;
    overflow: scroll;
  }

  .stages__list::-webkit-scrollbar {
    display: none;
  }

  .stages__item {
    padding: 62px 21px 20px 20px;
    width: 335px;
    min-height: 300px;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    background-image: url("../../images/stage.png");
    background-size: cover;
    z-index: 2;
  }

  .stages__item_long {
    grid-row: unset;
    grid-column: unset;
  }

  .stages__item_wide {
    display: flex;
    grid-row: unset;
    grid-column: unset;
    grid-template-columns: unset;
    column-gap: unset;
  }

  .stages__item_with-img {
    display: flex;
    grid-template-columns: unset;
    grid-column: unset;
    grid-row: unset;
  }

  .stages__item_with-img::after {
    display: none;
  }

  .stages__item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../images/main/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: color-burn;
    z-index: 1;
  }

  .stages__text {
    padding: 0;
    width: 100%;
    min-height: unset;
    height: unset;
    gap: 16px;
    font-size: var(--font-size-caption);
    position: unset;
    background-image: unset;
    background-size: unset;
    z-index: unset;
  }

  .stages__text::after {
    display: none;
    position: unset;
    background-image: unset;
    background-size: unset;
    z-index: unset;
  }
}



