.lead-description {
  max-width: 542px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.lead-description__title {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  font: var(--font-xl);
  font-weight: var(--font-weight-s);
  font-family: var(--font-family-second);
  text-transform: uppercase;
}

.lead-description__title_left {
  display: flex;
  align-self: start;
}

.lead-description__title_center {
  display: flex;
  align-self: center;
}

.lead-description__title_right {
  display: flex;
  align-self: end;
}

.lead-description__caption {
  margin: 0;
  text-align: center;
  color: var(--primary-color);
  font: var(--font-m);
  font-weight: var(--font-weight-s);
}

.lead-description__buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  gap: 16px;
}

@media screen and (width <= 1100px) {
  .lead-description {
    width: 100%;
    max-width: unset;
  }

  .lead-description__title {
    max-width: 400px;
  }

  .lead-description__caption {
    text-align: left;
  }

  .lead-description__buttons {
    box-sizing: border-box;
    margin-top: 8px;
    flex-direction: column;
    gap: 14px;
  }
}

